.ai21,
.child36 {
  position: absolute;
}
.child36 {
  top: 404px;
  left: 401px;
  border-radius: 5px;
  width: 188px;
  height: 47px;
}
.ai21 {
  top: 34px;
  left: calc(50% - 559px);
  line-height: 130%;
}
.child37,
.child38 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.child37 {
  height: calc(100% - 199px);
  top: 104px;
  bottom: 95px;
  background-color: #d9d9d9;
}
.child38 {
  bottom: 0;
  background-color: #3f51b5;
  height: 92px;
}
.ai22 {
  height: 48.91%;
  top: 25%;
  left: calc(50% - 562.5px);
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 186.75px;
}
.ai22,
.b11,
.div171 {
  position: absolute;
}
.b11 {
  height: 48.91%;
  top: 25%;
  left: calc(50% + 519.75px);
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 254.25px;
}
.div171 {
  width: 100%;
  right: 0;
  bottom: 3px;
  left: 0;
  height: 92px;
  font-size: 30px;
  color: #fff;
}
.div172,
.div173,
.group-child11 {
  position: absolute;
  top: calc(50% - 270.5px);
  left: calc(50% - 409.5px);
  border-radius: 5px;
  background-color: #fff;
  width: 820px;
  height: 623px;
}
.div172,
.div173 {
  top: calc(50% - 50px);
  left: calc(50% - 373px);
  border-radius: 10px;
  background-color: #d9d9d9;
  width: 746px;
  height: 100px;
}
.div173 {
  top: calc(50% - 48px);
  left: calc(50% - 371px);
  border-radius: 8px;
  background-color: #fff;
  width: 742px;
  height: 96px;
}
.div177,
.parent18,
.parent19 {
  position: absolute;
  top: calc(50% - 207.5px);
  left: calc(50% - 372.5px);
  width: 746px;
  height: 100px;
}
.div177,
.parent19 {
  top: calc(50% - 48.5px);
  left: calc(50% - 374.5px);
}
.div177 {
  top: calc(50% - 48px);
  left: calc(50% - 369px);
  border-radius: 8px;
  background-color: #fff;
  width: 740px;
  height: 96px;
}
.parent20 {
  position: absolute;
  top: calc(50% + 122.5px);
  left: calc(50% - 374.5px);
  width: 746px;
  height: 100px;
}
.div178,
.div179,
.div180 {
  position: absolute;
  top: calc(50% - 179.5px);
  left: calc(50% - 66.5px);
}
.div179,
.div180 {
  top: calc(50% - 12.5px);
  left: calc(50% - 35.5px);
}
.div180 {
  top: calc(50% + 150.5px);
}
.group-child12,
.group-child13 {
  position: absolute;
  top: calc(50% - 309.5px);
  left: calc(50% - 410.5px);
  border-radius: 20px;
  background-color: #aeaeae;
  width: 820px;
  height: 24px;
}
.group-child13 {
  left: calc(50% - 409.5px);
  background-color: #3f51b5;
  width: 205px;
}
.div181 {
  position: absolute;
  top: calc(50% - 352.5px);
  left: calc(50% - 355.5px);
  font-size: 24px;
  display: inline-block;
  width: 98px;
  height: 28px;
}
.rectangle-parent3 {
  position: absolute;
  top: calc(50% - 353px);
  left: calc(50% - 411px);
  width: 821px;
  height: 705px;
  font-size: 36px;
  color: #000;
  font-family: Inter;
}
.div170 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 35px;
  color: #222;
  font-family: "Noto Sans KR";
}
