.ai19,
.child34 {
  position: absolute;
}
.ai19 {
  top: 3.15%;
  left: calc(50% - 559px);
  font-size: 35px;
  line-height: 130%;
  color: #222;
}
.child34 {
  height: calc(100% - 196px);
  width: 100%;
  top: 104px;
  right: 0;
  bottom: 92px;
  left: 0;
  background-color: #d9d9d9;
}
.div154,
.div155,
.group-child10,
.group-child8,
.group-child9 {
  position: absolute;
  top: calc(50% - 272.5px);
  left: calc(50% - 410px);
  border-radius: 5px;
  background-color: #fff;
  width: 820px;
  height: 623px;
}
.div154,
.div155,
.group-child10,
.group-child9 {
  top: calc(50% - 306.5px);
  border-radius: 20px;
  background-color: #aeaeae;
  height: 24px;
}
.div154,
.div155,
.group-child10 {
  left: calc(50% - 204px);
  background-color: #3f51b5;
  width: 205px;
}
.div154,
.div155 {
  top: calc(50% - 21px);
  left: calc(50% - 300px);
  border-radius: 10px;
  background-color: #d9d9d9;
  width: 600px;
  height: 42px;
}
.div155 {
  top: calc(50% - 20.16px);
  left: calc(50% - 298.39px);
  border-radius: 8px;
  background-color: #fff;
  width: 595.98px;
  height: 40.32px;
}
.div160,
.div161,
.parent14,
.parent15,
.parent16 {
  position: absolute;
  top: calc(50% - 152.5px);
  left: calc(50% - 298px);
  width: 600px;
  height: 42px;
}
.div160,
.div161,
.parent15,
.parent16 {
  top: calc(50% - 38.5px);
  left: calc(50% - 295px);
}
.div160,
.div161,
.parent16 {
  top: calc(50% + 77.5px);
  left: calc(50% - 296px);
}
.div160,
.div161 {
  top: calc(50% - 28.5px);
  left: calc(50% - 300px);
  border-radius: 10px;
  background-color: #d9d9d9;
  height: 57px;
}
.div161 {
  top: calc(50% - 27.36px);
  left: calc(50% - 298.39px);
  border-radius: 8px;
  background-color: #3f51b5;
  width: 595.98px;
  height: 54.72px;
}
.parent17 {
  top: calc(50% + 254.5px);
  left: calc(50% - 300px);
  width: 600px;
  height: 57px;
}
.div162,
.i,
.parent17 {
  position: absolute;
}
.i {
  top: calc(50% - 350.5px);
  left: calc(50% - 152px);
  font-size: 24px;
}
.div162 {
  top: calc(50% - 186.5px);
  left: calc(50% - 298px);
}
.div163,
.div164,
.div165 {
  position: absolute;
  top: calc(50% - 71.5px);
  left: calc(50% - 295px);
}
.div164,
.div165 {
  top: calc(50% - 26.5px);
  left: calc(50% - 283px);
}
.div165 {
  top: calc(50% + 44.5px);
  left: calc(50% - 291px);
}
.div166,
.div167,
.div168 {
  position: absolute;
  top: calc(50% + 88.5px);
  left: calc(50% - 283px);
}
.div167,
.div168 {
  top: calc(50% - 141.5px);
}
.div168 {
  top: calc(50% + 268.5px);
  left: calc(50% - 23px);
  font-size: 24px;
  color: #fff;
}
.rectangle-parent2 {
  position: absolute;
  top: calc(50% - 357px);
  left: calc(50% - 411px);
  width: 820px;
  height: 701px;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
.child35,
.div169 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 92px;
}
.child35 {
  width: 100%;
  left: 0;
  background-color: #3f51b5;
}
.div169 {
  width: calc(100% + 1px);
  left: -1px;
}
.ai20,
.b10 {
  position: absolute;
  height: 4.17%;
  top: 93.61%;
  left: calc(50% - 563.29px);
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 186.85px;
}
.b10 {
  left: calc(50% + 519.52px);
  width: 254.38px;
}
.div153 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-family: "Noto Sans KR";
}
