.div1 {
  height: 28.45%;
  top: 35.37%;
  bottom: 36.18%;
  background-color: #d9d9d9;
}
.div1,
.div2,
.div3 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.div2 {
  height: 28.45%;
  top: 66.13%;
  bottom: 5.42%;
  background-color: #d9d9d9;
}
.div3 {
  top: calc(50% - 762.5px);
  background-color: #3f51b5;
  height: 469px;
}
.icons8-back-to-50-1,
.icons8-next-page-50-1 {
  position: absolute;
  top: calc(50% - 529.5px);
  left: calc(50% + 151px);
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.icons8-next-page-50-1 {
  left: calc(50% + 510px);
}
.child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3f51b5;
  height: 92px;
}
.ai {
  top: calc(50% - 22px);
  left: calc(50% - 595px);
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 144px;
  height: 45px;
}
.ai,
.b,
.div4 {
  position: absolute;
}
.b {
  top: calc(50% - 23px);
  left: calc(50% + 555px);
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 142px;
  height: 45px;
}
.div4 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 92px;
  font-size: 30px;
  color: #fff;
}
.ai1 {
  top: calc(50% - 835.5px);
  left: calc(50% - 605px);
  font-size: 35px;
  line-height: 130%;
  color: #222;
  cursor: pointer;
}
.ai1,
.ai2,
.item {
  position: absolute;
}
.ai2 {
  top: calc(50% + 311.5px);
  left: calc(50% - 613px);
  font-size: 30px;
  line-height: 150%;
}
.item {
  top: calc(50% - 27.5px);
  left: calc(50% - 247px);
  border-radius: 30px;
  background-color: #d9d9d9;
  width: 494px;
  height: 55px;
}
.icons8-search-30-1 {
  position: absolute;
  top: calc(50% - 14.5px);
  left: calc(50% - 232px);
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.div5 {
  position: absolute;
  top: calc(50% - 841.5px);
  left: calc(50% - 281px);
  width: 494px;
  height: 55px;
}
.ai3 {
  position: relative;
  line-height: 150%;
}
.p {
  margin: 0;
}
.ai-container {
  position: relative;
  font-size: 32px;
  line-height: 130%;
  font-weight: 500;
}
.div6,
.e-mail {
  position: absolute;
}
.div6 {
  top: calc(50% - 674.5px);
  left: calc(50% - 605px);
  width: 313px;
  height: 153px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  font-size: 40px;
  color: #fff;
}
.e-mail {
  top: calc(50% - 835.5px);
  left: calc(50% + 389px);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.e-mail,
.span {
  color: #222;
}
.e-mail1 {
  position: absolute;
  top: calc(50% - 835.5px);
  left: calc(50% + 508px);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div8 {
  position: relative;
  line-height: 130%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 523px;
  height: 82px;
  flex-shrink: 0;
}
.ai-container1,
.div7 {
  width: 566px;
  display: flex;
}
.ai-container1 {
  position: relative;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  align-items: center;
}
.div7 {
  position: absolute;
  top: calc(50% - 201.5px);
  left: calc(50% - 605px);
  height: 199px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  font-size: 32px;
}
.removebg-preview-1-icon {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 652.5px);
  width: 1246px;
  height: 116px;
  object-fit: cover;
}
.ul {
  margin: 0;
  padding-left: 29px;
}
.div10,
.div11,
.div12,
.div13,
.div14 {
  position: absolute;
  top: calc(50% + 22px);
  left: calc(50% - 652.5px);
  line-height: 150%;
  font-weight: 500;
}
.div11,
.div12,
.div13,
.div14 {
  left: calc(50% + 440.5px);
}
.div12,
.div13,
.div14 {
  left: calc(50% - 401.5px);
}
.div13,
.div14 {
  left: calc(50% + 173.5px);
}
.div14 {
  left: calc(50% - 142.5px);
}
.div9 {
  top: calc(50% + 33.5px);
  left: calc(50% - 608px);
  width: 1305px;
  height: 158px;
  font-size: inherit;
  font-family: inherit;
}
.div15,
.div9,
.inner {
  position: absolute;
}
.inner {
  top: calc(50% - 465.5px);
  left: calc(50% - 605px);
  border-radius: 5px;
  width: 251px;
  height: 64px;
}
.div15 {
  top: calc(50% - 449.5px);
  left: calc(50% - 540px);
  line-height: 130%;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3e3a45;
  width: 479px;
  height: 57px;
}
.div17 {
  position: absolute;
  top: 11px;
  left: 405px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
}
.line-div {
  position: absolute;
  top: 84.5px;
  left: 106.5px;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 1px;
  height: 174px;
}
.line-icon {
  position: absolute;
  top: 255px;
  left: 106.99px;
  width: 323.01px;
  height: 4px;
}
.div18,
.div19,
.div20 {
  position: absolute;
  top: 86px;
  left: 12px;
  line-height: 150%;
  font-weight: 500;
}
.div19,
.div20 {
  top: 155px;
}
.div20 {
  top: 222px;
}
.child1,
.child2,
.child3 {
  position: absolute;
  top: 166px;
  left: 167px;
  background-color: #3e3a45;
  width: 36px;
  height: 90px;
}
.child2,
.child3 {
  top: 184px;
  left: 269px;
  background-color: #3f51b5;
  height: 72px;
}
.child3 {
  top: 114px;
  left: 372px;
  background-color: red;
  height: 142px;
}
.div21,
.div22,
.div23 {
  position: absolute;
  top: 265px;
  left: 162px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
.div22,
.div23 {
  left: 272px;
}
.div23 {
  left: 375px;
}
.div16 {
  top: calc(50% + 410.5px);
  left: calc(50% - 613px);
  background-color: #fff;
  width: 479px;
  height: 310px;
}
.div16,
.div24,
.div25 {
  position: absolute;
}
.div25 {
  top: 11px;
  left: 361px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
}
.div24 {
  top: calc(50% + 410.5px);
  left: calc(50% + 176px);
  background-color: #fff;
  width: 479px;
  height: 310px;
}
.removebg-preview-1-icon1 {
  position: absolute;
  top: calc(50% - 732.5px);
  left: calc(50% + 232px);
  width: 246px;
  height: 406px;
  object-fit: cover;
}
.ai-ai-container {
  position: absolute;
  top: calc(50% - 465.5px);
  left: calc(50% + 254px);
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  width: 265px;
  height: 140px;
}
.div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1733px;
  overflow-y: auto;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: "Noto Sans KR";
}
